# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Node.js dependencies
node_modules/

# .gitignore
.env
.env.local
.env.*.local


# Yarn (monorepo support)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
.next/
out/
build/
dist/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel/

# Test coverage
coverage/

# Mac system files
.DS_Store

# SSL keys
*.pem

# VSCode or JetBrains IDE settings (optional, but useful)
.vscode/
.idea/

# Optional: ignore any cached file uploads or assets
public/uploads/
*.webp
*.jpeg
*.jpg
*.png
*.pdf
